name: MIFI Homework

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Give rights
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew build

      - name: Test
        run: ./gradlew test

  deploy:
    needs: build_and_test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Trigger Render deploy
        run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"

      - name: Success deploy
        run: echo "SUCCESS"